.create-employee {
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}